# Server Configuration
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

# Database Configuration
# Get your connection string from the Neon dashboard
DATABASE_URL=

# Arcjet
# Get your Arcjet key from the Arcjet dashboard
ARCJET_KEY=
